body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333; /* Dark Gray */
    color: white;
}

header {
    background-color: #4CAF50; /* Green */
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Make the menu items flex items */
    justify-content: center; /* Center the menu items */
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #4527A0; /* Purple near Blue */
}

section {
    padding: 50px;
}

#social-links {
    margin-top: 20px; /* Adjust the margin as needed */
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#social-links p {
    font-size: 18px;
    margin-bottom: 10px;
}

#social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#social-links li {
    margin: 0 5px;
}

#social-links a {
    text-decoration: none;
    color: #fff;
    background-color: #4527A0; /* Purple near Blue */
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#social-links a:hover {
    background-color: #00bcd4; /* Light Blue */
}

footer {
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    nav a {
        padding: 8px 10px; /* Adjust padding for smaller screens */
    }

    #social-links a {
        padding: 10px 10px; /* Adjust padding for smaller screens */
    }
}
